@font-face {
    font-family: Wooden Log;
    src: url('../font/WoodenLog.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 20vh;
    background-color: rgb(250, 230, 219);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/mt_everest.png');
    background-position: center;
}

nav {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(204, 184, 184, 0.568);
    border-radius: 8px;

}

nav>button {
    padding: 8px 30px;
    color: rgb(0, 102, 255);
    font-size: medium;
    background-color: rgba(127, 255, 144, 0.836);
    border: none;
    border-radius: 8px;
}

nav>button:hover {
    background-color: rgba(127, 255, 144, 0.699);
}

nav>button:active {
    background-color: rgba(127, 255, 144, 0.986);
}

/* style for home page */
.home-page {
    background: linear-gradient(to top, #223a44, #071724, #1f3741);
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.left-side {
    width: 50%;
    height: 100%;
    color: red;
    background-image: url('../images/food.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.right-side>img {
    width: 200px;
}

.right-side>strong {
    color: rgb(179, 255, 0);
    font-family: Wooden Log;
    font-size: 40px;
}

.right-side>div>em {
    color: rgb(82, 255, 14);
    font-size: 1.3rem;
    font-weight: bolder;
}

.menu-page {
    background: linear-gradient(to bottom, #223a44, #071724, #1f3741);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.menu-page img {
    width: 150px;
}

.menu-page h1{
    color:rgba(0, 255, 255, 0.747);
    font-family: Wooden Log;
    font-size:50px;
}

.menu-page>main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(231, 247, 0, 0.342);
    border-radius:8px;
}


.menu-page>main>div{
    background-color: rgb(0, 0, 0);
    color: rgba(0, 183, 255, 0.74);
    height: 15rem;
    width: 16rem;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 1px  rgb(0, 110, 255);
    border-radius:8px;
}

/* style for about page */

.about-page{
    height:80vh;
    width:100vw;
    background: linear-gradient(to right, #223a44, #071724, #1f3741);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.about-page>img{
    height:60px
}

.about-page>div{
    box-shadow: 1px 0px 1px rgb(1, 169, 247);
    width:50%;
    padding:20px;
    border-radius: 8px;
}

.about-page>div>p{
    font-size:larger;
    color:rgba(243, 7, 144, 0.767);
    text-align:center;
}
